.cabecalho__menu-item{
  list-style: none;
  margin-right: 2rem;
}
.cabecalho__menu-item:last-child{
  font-weight: 700;
  margin-right: 0;
}

@media screen and (min-width: 0px) {

  .cabecalho__menu-item:not(:last-child){
    display: none;

  }
}

@media screen and (min-width: 480px) {

  .cabecalho__menu-item:not(:last-child){
    display: none;

  }
}
@media screen and (min-width: 768px) {

  .cabecalho__menu-item:not(:last-child){
    display: initial;

  }
}
@media screen and (min-width: 1440px) {

  
}