.experiencia__imagem{
  background: url("../../img/decoder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -3px 3px 3px rgb(154, 153, 153);
  height: 406px;
  width: 752px;
  
}

.experiencia__imagem--jogoForca{
  background: url("../../img/jogo\ da\ forca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 406px;
  width: 752px;
}
@media screen and (max-width: 480px) {
  .experiencia__imagem--jogoForca{
    width: 100%;
    height: 200px;
    background-size: 100%;
  }
  .experiencia__imagem{
    width: 100%;
    height: 200px;
    background-size: 100%;
  }
}