.experiencia__link{
  border: 1px solid var(--azul-botao);
  color: var(--azul-botao);
  height: 3.15rem;
  padding: 1rem;
  text-decoration: none;
  width: 6.56rem;
  
}

.experiencia__link--direito{
  background: #2A7AE4;
  color: white;
}