.experiencia__caixa-botoes{
  height: auto;
  width: 30%;
  
}

@media screen and (min-width: 0px) {
  .experiencia__caixa-botoes{
    
    margin: 0 auto;
    text-align: center;
  }
 
}
@media screen and (min-width: 0) {
  .experiencia__caixa-botoes{
    width: 100%;
  }
 
}
@media screen and (min-width: 480px) {
  .experiencia__caixa-botoes{
  
  }
 
}
@media screen and (min-width: 768px) {
  .experiencia__caixa-botoes{
    
    margin: 0 auto;
    text-align: center;
  }
 
}

@media screen and (min-width: 1440px) {
  .experiencia__caixa-botoes{
    
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
 
}