:root{
--azul-claro-header: #F5F5F5;

--azul-escuro-sobre: #EAF2FD;

--roxinho: #eee9ff;

--erro: rgb(224, 44, 44);

--branco-padrao: #ffffff;

--azul-botao: #2A7AE4;

--cor--letras: #464646;
--cor--label: #A2A2A2;

--cor-borda-cinza: #C8C8C8;

--font-padrao: 'Raleway', sans-serif;
--celular: 480px;

font-family: var(--font-padrao);

}

#displayNone{
  display: none;
  transition: all 2s;
}

@media screen and (min-width: 0px) {
  .container{

    padding: 0 2rem;
    
  }

  .caixa{
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
   
  }
  
}
@media screen and (min-width: 480px) {
 
  
}
@media screen and (min-width: 768px) {
  
  .container{

    padding: 0 5rem;
    
  }
}
@media screen and (min-width: 1440px) {
  .container{

    padding: 0 15rem;
    
  }
  
  .caixa{
    padding-top: 7rem;
    padding-bottom: 6rem;
    width: 63%;
  }
  
}