:root{
--azul-claro-header: #F5F5F5;

--azul-escuro-sobre: #EAF2FD;

--branco-padrao: #ffffff;

--cor--letras: #464646;

--font-padrao: 'Raleway', sans-serif;

font-family: var(--font-padrao);

}

.container{
  padding: 0 20rem;
}

.caixa{
  padding-top: 7rem;
  padding-bottom: 6rem;
  width: 63%;
}