.chamada{
  background: var(--azul-claro-header);
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 480px) {
  .chamada{
    flex-direction: column-reverse;
    align-items:flex-end;
    padding-top: 1rem;
    
  }
 
}