.chamada__imagem{
  background: red;
  border-radius: 100%;
  height: 23rem;
  width: 23rem;
}

@media screen and (max-width: 480px) {
  .chamada__imagem{
    height: 6.1rem;
    width: 6.1rem;
  }
 
}