@media screen and (min-width: 0px) {
  .chamada__texto{
    font-size: 14px;
  }
 
}
@media screen and (min-width: 480px) {
  
 
}
@media screen and (min-width: 768px) {
  .chamada__texto{
    font-size: 22px;
  }
 
}

@media screen and (min-width: 1440px) {
  .chamada__texto{
    font-size: 1.37rem;
  }
 
}