.habilidades__caixa{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-bottom: 3rem;
  height: auto;
  width: 100%;
  
}
@media screen and (max-width: 480px) {
 
 
}