.habilidades__caixa{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-bottom: 3rem;
  height: auto;
  width: 100%;
  
}
@media screen and (min-width: 0px) {
  .habilidades__caixa{
    flex-direction: column;
    align-items: center;
  }
 
}
@media screen and (min-width: 480px) {
  .habilidades__caixa{
    flex-direction: row;
    
  }
 
}