.habilidades__hobbies-imagens{
  align-items: flex-end;
  background: var(--branco-padrao);
  display: flex;
  justify-content: center;
  font-weight: 700;
  height: 176px;
 margin-top: 2rem;
  width: 174px;
  
  
}