.habilidades{
  align-items: center;
  background: var(--azul-claro-header);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding-top: 3rem;
  flex-wrap: wrap;
  
}