.formulario__imagem{
  background-image: url("../../img/formulario__imagem.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 29rem;
}