.formulario__fildset{
  display: flex;
  width: 41rem;
  flex-direction: column;
  border: none;
  padding:0 0 0 1rem;
 
}
@media screen and (max-width: 480px) {
  .formulario__fildset{
    
    width: 100%;
    padding:0;
   
  }
 
}