.formulario__label{
  position: absolute;
  font-weight: 400;
  color: var(--cor--label);
  font-size: 16px;
  padding: 0.5rem 0 0 0.5rem;
  top: 0;
  left: 0;
}

.formulario__label--erro{
  color: var(--erro);
}
