.formulario__botao{
  font-size: 1rem;
  height: 3.1rem;
  line-height: 1rem;
  text-align: center;
  width: 10.31rem;
  background: var(--azul-botao);
  border: none;
  color: var(--branco-padrao);
  transition: all 0.5s;
}

.formulario__botao:hover{
  cursor: pointer;
  opacity: 0.8;
}

