.formacao__caixa-imagem{
  width: 368px;
  height: 286px;
  background: var(--branco-padrao);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .formacao__caixa-imagem{
    height: 200px;
  }
 
}